./Chapter6/.DS_Store
./Chapter6/bookingms/.DS_Store
./Chapter6/bookingms/src/.DS_Store
./Chapter6/bookingms/src/main/.DS_Store
./Chapter6/bookingms/src/main/java/.DS_Store
./Chapter6/bookingms/src/main/java/com/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/application/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/application/internal/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/domain/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/interfaces/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/interfaces/events/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/handlingms/.DS_Store
./Chapter6/bookingms/src/main/java/com/practicalddd/cargotracker/handlingms/domain/.DS_Store
./Chapter6/handlingms/.DS_Store
./Chapter6/handlingms/src/.DS_Store
./Chapter6/handlingms/src/main/.DS_Store
./Chapter6/handlingms/src/main/java/.DS_Store
./Chapter6/handlingms/src/main/java/com/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/application/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/application/internal/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/infrastructure/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/infrastructure/repositories/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/domain/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/domain/model/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/interfaces/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/interfaces/events/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/interfaces/rest/.DS_Store
./Chapter6/handlingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter6/trackingms/.DS_Store
./Chapter6/trackingms/src/.DS_Store
./Chapter6/trackingms/src/main/.DS_Store
./Chapter6/trackingms/src/main/java/.DS_Store
./Chapter6/trackingms/src/main/java/com/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/application/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/application/internal/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/infrastructure/brokers/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/infrastructure/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/infrastructure/repositories/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/domain/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/domain/model/.DS_Store
./Chapter6/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/interfaces/.DS_Store
./Chapter6/routingms/.DS_Store
./Chapter6/routingms/src/.DS_Store
./Chapter6/routingms/src/main/.DS_Store
./Chapter6/routingms/src/main/java/.DS_Store
./Chapter6/routingms/src/main/java/com/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/application/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/application/internal/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/infrastructure/brokers/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/infrastructure/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/infrastructure/repositories/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/domain/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/domain/model/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/interfaces/.DS_Store
./Chapter6/routingms/src/main/java/com/practicalddd/cargotracker/routingms/interfaces/rest/.DS_Store
./Utilities/.DS_Store
./Utilities/rabbitmqadaptor/.DS_Store
./Utilities/rabbitmqadaptor/src/.DS_Store
./Utilities/rabbitmqadaptor/src/test/.DS_Store
./Utilities/rabbitmqadaptor/src/test/java/.DS_Store
./Utilities/rabbitmqadaptor/src/test/java/com/.DS_Store
./Utilities/rabbitmqadaptor/src/test/java/com/practicalddd/.DS_Store
./Utilities/rabbitmqadaptor/src/test/java/com/practicalddd/cargotracker/.DS_Store
./Utilities/rabbitmqadaptor/src/main/.DS_Store
./Utilities/rabbitmqadaptor/src/main/java/.DS_Store
./Utilities/rabbitmqadaptor/src/main/java/com/.DS_Store
./Utilities/rabbitmqadaptor/src/main/java/com/practicalddd/.DS_Store
./Utilities/rabbitmqadaptor/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter5/.DS_Store
./Chapter5/bookingms/.DS_Store
./Chapter5/bookingms/src/.DS_Store
./Chapter5/bookingms/src/main/.DS_Store
./Chapter5/bookingms/src/main/java/.DS_Store
./Chapter5/bookingms/src/main/java/com/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/application/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/application/internal/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/infrastructure/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/domain/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/domain/model/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/interfaces/.DS_Store
./Chapter5/bookingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter5/trackingms/.DS_Store
./Chapter5/trackingms/src/.DS_Store
./Chapter5/trackingms/src/main/.DS_Store
./Chapter5/trackingms/src/main/java/.DS_Store
./Chapter5/trackingms/src/main/java/com/.DS_Store
./Chapter5/trackingms/src/main/java/com/practicalddd/.DS_Store
./Chapter5/trackingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter5/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/.DS_Store
./Chapter5/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/interfaces/.DS_Store
./Chapter5/trackingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter5/trackingms/src/main/java/com/practicalddd/cargotracker/shareddomain/events/.DS_Store
./Chapter5/routingms/.DS_Store
./Chapter5/routingms/src/.DS_Store
./Chapter5/routingms/src/main/.DS_Store
./Chapter5/routingms/src/main/java/.DS_Store
./Chapter5/routingms/src/main/java/com/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/routingms/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/routingms/domain/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/routingms/domain/model/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/routingms/interfaces/.DS_Store
./Chapter5/routingms/src/main/java/com/practicalddd/cargotracker/routingms/interfaces/rest/.DS_Store
./Chapter3/.DS_Store
./Chapter3/cargotracker/.DS_Store
./Chapter3/cargotracker/src/.DS_Store
./Chapter3/cargotracker/src/main/.DS_Store
./Chapter3/cargotracker/src/main/resources/.DS_Store
./Chapter3/cargotracker/src/main/java/.DS_Store
./Chapter3/cargotracker/src/main/java/com/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/application/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/application/internal/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/infrastructure/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/infrastructure/repositories/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/domain/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/domain/model/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/interfaces/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/interfaces/events/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/handling/interfaces/rest/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/application/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/application/internal/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/infrastructure/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/infrastructure/repositories/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/domain/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/domain/model/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/interfaces/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/booking/interfaces/rest/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/application/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/application/internal/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/infrastructure/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/infrastructure/repositories/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/domain/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/domain/model/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/interfaces/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/interfaces/events/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/tracking/interfaces/rest/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/application/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/infrastructure/brokers/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/infrastructure/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/infrastructure/repositories/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/domain/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/domain/model/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/interfaces/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/routing/interfaces/rest/.DS_Store
./Chapter3/cargotracker/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter4/.DS_Store
./Chapter4/bookingms/.DS_Store
./Chapter4/bookingms/target/.DS_Store
./Chapter4/bookingms/src/.DS_Store
./Chapter4/bookingms/src/test/.DS_Store
./Chapter4/bookingms/src/test/java/.DS_Store
./Chapter4/bookingms/src/test/java/com/.DS_Store
./Chapter4/bookingms/src/test/java/com/practicalddd/.DS_Store
./Chapter4/bookingms/src/test/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/bookingms/src/main/.DS_Store
./Chapter4/bookingms/src/main/resources/.DS_Store
./Chapter4/bookingms/src/main/java/.DS_Store
./Chapter4/bookingms/src/main/java/com/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/application/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/application/internal/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/infrastructure/brokers/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/infrastructure/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/infrastructure/repositories/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/domain/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/domain/model/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/interfaces/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/interfaces/events/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/bookingms/interfaces/rest/.DS_Store
./Chapter4/bookingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter4/handlingms/.DS_Store
./Chapter4/handlingms/src/.DS_Store
./Chapter4/handlingms/src/test/.DS_Store
./Chapter4/handlingms/src/test/java/.DS_Store
./Chapter4/handlingms/src/test/java/com/.DS_Store
./Chapter4/handlingms/src/test/java/com/practicalddd/.DS_Store
./Chapter4/handlingms/src/test/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/handlingms/src/main/.DS_Store
./Chapter4/handlingms/src/main/resources/.DS_Store
./Chapter4/handlingms/src/main/java/.DS_Store
./Chapter4/handlingms/src/main/java/com/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/application/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/application/internal/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/domain/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/domain/model/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/interfaces/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/interfaces/events/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/handlingms/interfaces/rest/.DS_Store
./Chapter4/handlingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter4/trackingms/.DS_Store
./Chapter4/trackingms/src/.DS_Store
./Chapter4/trackingms/src/test/.DS_Store
./Chapter4/trackingms/src/test/java/.DS_Store
./Chapter4/trackingms/src/test/java/com/.DS_Store
./Chapter4/trackingms/src/test/java/com/practicalddd/.DS_Store
./Chapter4/trackingms/src/test/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/trackingms/src/main/.DS_Store
./Chapter4/trackingms/src/main/resources/.DS_Store
./Chapter4/trackingms/src/main/java/.DS_Store
./Chapter4/trackingms/src/main/java/com/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/application/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/application/internal/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/infrastructure/brokers/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/infrastructure/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/infrastructure/repositories/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/domain/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/domain/model/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/interfaces/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/interfaces/events/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/trackingms/interfaces/rest/.DS_Store
./Chapter4/trackingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter4/routingms/.DS_Store
./Chapter4/routingms/src/.DS_Store
./Chapter4/routingms/src/test/.DS_Store
./Chapter4/routingms/src/test/java/.DS_Store
./Chapter4/routingms/src/test/java/com/.DS_Store
./Chapter4/routingms/src/test/java/com/practicalddd/.DS_Store
./Chapter4/routingms/src/test/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/routingms/src/main/.DS_Store
./Chapter4/routingms/src/main/resources/.DS_Store
./Chapter4/routingms/src/main/java/.DS_Store
./Chapter4/routingms/src/main/java/com/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/shareddomain/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/application/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/infrastructure/brokers/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/infrastructure/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/infrastructure/repositories/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/domain/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/interfaces/.DS_Store
./Chapter4/routingms/src/main/java/com/practicalddd/cargotracker/routingms/interfaces/rest/.DS_Store
